body,
html {
  margin: 0;
}

body {
  font-size: 1.2rem;
  font-family: sans-serif;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

input {
  border: 1px solid #000;
  padding: 1rem;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

input:focus {
  outline: 3px solid #ccc;
}

.app {
  padding: 1rem;
  width: 960px;
}
